h3 {
    float: center;
    font-size: 25px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    text-align: right;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-image: linear-gradient(white, #fdffb6);
}

article {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border: solid;
    border-color: #ffcb05;
    padding: 15px;
    font-size: 15px;
    width: 40%;
    height: 20%;
    margin: 30px;
}

img {
    height: 50%;
    width: 100%;
}

.cat-card {
    border: solid;
    border-color: #ffcb05;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 30px;
    float: left;
    text-align: center;
    width: 16%;
    height: 600px;
}

#form-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input [type=text] {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

input#form-button{
    background-color: darksalmon;
    border: 0;
    border-radius: 4px;
    padding: 10px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

input#form-button:active{
    transform: scale(0.98);
    border: none;
}

input#form-button:focus{
    outline: none;
    border: none;
}

.cat-container{
    justify-content: center;
    display: flex;
    flex: 1;
}

p{
    font-size: 14px;
}

#navbar{
    font-size: 1.5em;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

ul,li{
    display: flex;
    align-items: center;
    padding: 10px;
}

.link{
    font-size: 1.5rem;
    font-weight: 100;
    color: black;
    text-decoration: none;
}

.link:hover{
    color: darksalmon;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.likes-bttn{
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    padding: 5px;
    color: darksalmon;
    font-family: 'Poppins', sans-serif;
}

.delete-bttn{
    background-color: darksalmon;
    border: 0;
    border-radius: 4px;
    padding: 5px;
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}